.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 24px 3vw;
    background-color: var(--ultra-light);
    margin: 24px 24px 0;
    border-radius: 8px;


    &__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    &__button {
        display: flex;
        align-items: center;

        font-weight: var(--font-semi-bold);
        align-items: center;
        color: var(--normal-gray);
        gap: 6px;
        padding: 12px 24px;
        cursor: pointer;
        position: relative;
        transition: color .2s ease;

        &--active,
        &:hover {
            color: var(--purple);
        }

    }

    &__button-springer {
        position: absolute;
        inset: 0;
        z-index: 10;
        border-radius: 8px;
        background-color: rgb(239 235 255);
        mix-blend-mode: multiply;
    }



    &__icon {
        font-size: 1.1rem;
    }

    &__link-box {
        display: flex;
        justify-content: flex-end;
    }

    &__link-icon {
        font-size: 1.5rem;
        display: none;
    }

    &__logo--small {
        display: none;
    }
}


@mixin header972() {
    .header {
        &__label {
            display: none;
        }

        &__link-text {
            display: none;
        }

        &__link-icon {
            display: block;
            font-size: clamp(16px, 5dvw, 24px);
        }

        &__logo--large {
            display: none;
        }


        &__link,
        &__button {
            padding: 12px;
            aspect-ratio: 1;
        }

        &__icon {
            font-size: clamp(16px, 5dvw, 24px);
        }



        &__logo--small {
            display: block;
        }
    }
}